interfaces {
    {{interface1.name}} {
        unit {{interface1.unit}} {
            family {{interface1.family}} {
                address {{interface1.address}}/{{interface1.cidr}};
            }
        }
    }
}
    {{interface2.name}} {
        unit {{interface2.unit}} {
            family {{interface2.family}} {
                address {{interface2.address}}/{{interface2.cidr}};
            }
        }
    }
}
